$base-backgound-color: #fff;
$base-color: #333;
$paddingval: 16px;
$itemwidth: 200px;
@mixin setItemWidth($width) {
  width: $width;
}
@mixin infiniteHorizontalScroll() {
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-y: hidden;
}
div#container {
  background-color: $base-backgound-color;
  color: $base-color;
}
.float-table {
  padding: $paddingval;
  @include infiniteHorizontalScroll();
}
.float-table-item {
  @include setItemWidth($itemwidth);
  float: left;
  padding: $paddingval;
}
.float-table-item table {
  @include setItemWidth($itemwidth);
}
.float-table-item table tr {
  @include setItemWidth($itemwidth);
  word-break: break-all;
}
form.newItem {
  @include setItemWidth($itemwidth);
}
form.newItem textarea {
  @include setItemWidth($itemwidth);
}
